/* diagnostic styling */
* {
    outline: 1px dotted gray;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
    border: 5px;
    border-color: black;

    /* Card Styling*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: black;
}

.back {
    background: cornflowerblue;
    /* flip it default   */
    transform: rotateY(180deg);
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}
section{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    
}
.card-image{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em){ 
    body {
        display: flex;
        flex-direction: column;
    }
    
}

@media print {
    
    body {
        /* serif font for easier reading */
        font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
        /* increase font size */
        font-size: 1.25em;
}

    /* printer anchor links */
    a[href]::after {
        content: " " attr(href); 
    }

    /* turn paragraphs into colums */
    .face p {
        columns: 2;
    }

    @page {
        /* reset page margins */
        margin: .25in;
    }

}